.App {
  text-align: center;
}

.main-container,
header,
nav {
  display: flex;
  justify-content: space-between;
}

header {
  margin-bottom: 20px;
  
}

img {
  color: #F1F2AE;
}

.nav-el {
  color: #E7EFD6;
}

section {
  
  margin-bottom: 20px;
  
}


.post-el {
color: #F9D7D7;
}


.article-el {
  color: #BDCDF6;
}

main,
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  Width: 300px;
  Height: 429px;
  Top: 256px;
  Left: 897px
}